/* google font */
body,
.secondary-font {
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
.primary-font {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 0.5px;
}

:root {
  --bg-color: #fff6fd;
  --text-color: #364153;
  --primary-color: #f72d6c;
  --black-color: #111111;
}
.white-bg-color {
  background-color: var(--bg-color);
}
.white-text-color {
  color: var(--bg-color);
}
.dark-text-color {
  color: var(--text-color);
}
.dark-bg-color {
  background-color: var(--text-color);
}
.black-heading-color {
  color: var(--black-color);
}
.black-bg-color {
  background-color: var(--black-color);
}
.primary-bg-color {
  background-color: var(--primary-color);
}
.primary-text-color {
  color: var(--primary-color);
}
/* =======================
Header Area Style
=========================*/

#header-area {
  box-shadow: 0px 4px 5px -3px #29324131;
  background-color: var(--bg-color);
}
/* mobile menu style */
#primary-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  width: 100%;
  top: 50px;
  height: 100vh;
  transition: 0.5s;
  text-align: center;
  padding-top: 20px;
  z-index: 9999;
  transition: transform 0.4s ease;
}
#primary-menu > li {
  transition: 0.5s;
  display: block;
  width: 90%;
  margin: 0 auto;
}
#primary-menu > li > a {
  display: block;
  text-transform: uppercase;
  color: var(--bg-color);
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}
#primary-menu > li > a:hover {
  background-color: var(--text-color);
}
/*  Sub menu */
#primary-menu > li > ul {
  display: none;
  transition: 0.5s;
}
/* hover sum menu open */
#primary-menu > li:hover > ul {
  display: block;
  transition: 0.5s;
}

#primary-menu > li > ul > li {
  transition: 0.5s;
  display: block;
}
#primary-menu > li > ul > li > a {
  display: block;
  text-transform: uppercase;
  color: var(--bg-color);
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}
#primary-menu > li > ul > li > a:hover {
  background-color: var(--text-color);
}
#primary-menu > li > ul > li > ul {
  display: none;
  transition: 0.5s;
}

/* sub sub menu open */
#primary-menu > li > ul > li:hover > ul {
  display: block;
  transition: 0.5s;
}
#primary-menu > li > ul > li > ul > li {
  display: block;
}
#primary-menu > li > ul > li > ul > li > a {
  display: block;
  text-transform: uppercase;
  color: var(--bg-color);
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}
#primary-menu > li > ul > li > ul > li > a:hover {
  background-color: var(--text-color);
}
#mobile-menu-btn {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #primary-menu {
    position: relative;
    top: 0;
    left: 0;
    background: none;
    width: 100%;
    height: auto;
    text-align: center;
    padding-top: 0;
    z-index: 9999;
    transition: 0.5s;
  }
  #primary-menu > li {
    display: inline;
    position: relative;
  }
  #primary-menu > li > a {
    color: var(--text-color);
    display: inline-block;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 600;
  }
  #primary-menu > li > a:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
  }
  #primary-menu > li > ul {
    display: none;
    position: absolute;
    width: 150px;
    background-color: var(--text-color);
    left: 10px;
    top: 30px;
    text-align: left;
    border-radius: 2px;
  }
  /* sub menu open */
  #primary-menu > li:hover > ul {
    display: block;
  }
  #primary-menu > li > ul > li {
    display: block;
    position: relative;
  }
  #primary-menu > li > ul > li > a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 2px;
  }
  #primary-menu > li > ul > li > a:hover {
    background-color: var(--primary-color);
  }

  #primary-menu > li > ul > li > ul {
    display: none;
    position: absolute;
    top: 15px;
    left: 150px;
    width: 150px;
    background-color: var(--text-color);
    border-radius: 2px;
  }
  /* sub sub menu open */
  #primary-menu > li > ul > li:hover > ul {
    display: block;
  }
  #primary-menu > li > ul > li > ul > li {
    display: block;
  }
  #primary-menu > li > ul > li > ul > li > a {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 2px;
  }
  #primary-menu > li > ul > li > ul > li > a:hover {
    background-color: var(--primary-color);
  }
}

/* ============================
Header top style
============================*/
#header-top {
  background-color: #ffe8fa;
  padding: 3px 0;
}
#header_top_nav {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header_top_nav li {
  display: inline;
  border-left: 2px solid var(--primary-color);
  margin: 0;
  padding: 0;
}
#header_top_nav li:first-child {
  border-left: none;
}
#header_top_nav li a {
  display: block;
  padding: 0 2px;
  margin: 3px 5px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2;
  transition: 0.3s;
}
#header_top_nav li a:hover {
  color: var(--primary-color);
}

/* ==========================
cart box
===========================*/
.cart-box span {
  position: relative;
}
.cart-box span .cart-count {
  position: absolute;
  top: -5px;
  right: -8px;
  background: var(--primary-color);
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

/* =======================================
Blog Page Style
========================================*/
.blog-item {
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0px 0px 4px 0px #3641531f;
  background-color: var(--color-white);
}
.blog-thumbnail {
  display: flex;
  object-fit: cover;
  overflow: hidden;
}
.blog-thumbnail a {
  display: flex;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.blog-thumbnail a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}
.blog-item:hover img {
  transform: scale(1.1);
}
.post-date-box {
  background-color: #ffffffc5;
}
.post-author {
  background-color: #ffffffc5;
}
.post-author a {
  display: block;
}
.post-title h2 {
  line-height: 1.2;
  transition: 0.3s;
  margin-bottom: 5px;
}
.post-title h2 a:hover {
  color: var(--primary-color);
}
.excerpt-more-btn a {
  font-size: 16px;
  line-height: 1;
  border-radius: 3px;
  color: var(--bg-color);
  background-color: var(--text-color);
  font-weight: 500;
}
.excerpt-more-btn a:hover {
  background-color: var(--primary-color);
}
.excerpt-box p {
  text-align: justify;
  padding-right: 10px;
  font-size: 15px;
}

/* pagination */
.pagination {
  width: 100%;
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
.pagination a {
  display: inline-block;
  background-color: var(--text-color);
  padding: 5px 12px;
  color: var(--bg-color);
  border-radius: 2px;
  font-size: 15px;
  transition: 0.3s;
}
.pagination a:hover {
  background-color: var(--primary-color);
}
.pagination .current {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 5px 12px;
  color: var(--bg-color);
  border-radius: 2px;
  font-size: 15px;
}

/* =============================
Page Title
===============================*/
#page-title .page-title-container {
  background-color: #364153d3;
}
.home-page-navigate {
  transition: 0.1s;
}
.home-page-navigate:hover {
  color: var(--primary-color);
}

/* =========================================
Sidebar style
==========================================*/
.wp-block-search__label {
  width: fit-content;
}
.sidebar-area form {
  margin-bottom: 15px;
}
.sidebar-area form input[type="search"] {
  border: 1px solid #3641533a;
  border-radius: 3px;
  padding: 5px 10px;
}
.sidebar-area form button[type="submit"] {
  border: 1px solid #3641533a;
  border-radius: 0px 3px 3px 0px;
  padding: 5px 10px;
  background-color: var(--text-color);
  color: var(--bg-color);
  font-weight: 300;
  margin-left: -10px;
  transition: 0.3s;
  outline: 0px;
}
.sidebar-area form button[type="submit"]:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.sidebar-area form input[type="search"]:focus {
  border: 1px solid var(--text-color);
  outline: none;
}
.sidebar-area .wp-block-heading {
  color: var(--dark-text);
  border-left: 3px solid var(--primary-color);
  padding-left: 6px;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-top: 12px;
  font-weight: 600;
}
.sidebar-area .widget ul li {
  margin: 5px 0;
  list-style: disc;
  list-style-position: inside;
}
.sidebar-area .widget_recent_entries ul li a {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  transition: 0.1s;
}
.sidebar-area .widget_recent_entries ul li a:hover {
  color: var(--primary-color);
}
.sidebar-area .wp-block-tag-cloud a {
  font-size: 14px !important;
  text-transform: capitalize;
  display: inline-block;
  padding: 3px 6px;
  background-color: var(--text-color);
  margin-bottom: 5px;
  margin-right: 0px;
  color: var(--bg-color);
  border-radius: 2px;
  font-weight: 400;
  transition: 0.3s;
}
.sidebar-area .wp-block-tag-cloud a:hover {
  background-color: var(--primary-color);
}
.sidebar-area .wp-block-social-links li {
  width: 30px;
  height: 30px;
}
.sidebar-area .wp-block-social-links li a {
  width: 100%;
  height: 100%;
}

/* ===========================================
  Post Area style Start
============================================*/
.post-meta {
  position: absolute;
  bottom: -30px;
  left: auto;
}
.post-meta .post-author a {
  color: var(--bg-color);
  display: inline-block;
  padding: 3px 8px;
  width: 160px;
  text-align: center;
  background-image: linear-gradient(180deg, #f45687, #c9446e);
}
.post-meta .post-date {
  color: var(--bg-color);
  display: inline-block;
  padding: 3px 8px;
  background-image: linear-gradient(180deg, #f45687, #c9446e);
  width: 160px;
  text-align: center;
  font-family: "Barlow Condensed", sans-serif;
}

.post-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.content-details p {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 15px;
  color: var(--text-color);
}
.content-details a {
  color: var(--primary-color);
  text-decoration: underline;
}
.content-details a:hover {
  color: var(--text-color);
}
.content-details h2 {
  font-size: 24px;
  margin: 10px 0;
  color: var(--text-color);
  font-weight: 500;
  border-left: 4px solid var(--primary-color);
  padding-left: 5px;
  line-height: 1.2;
}
.content-details h3 {
  font-size: 22px;
  margin: 10px 0;
  color: var(--text-color);
  font-weight: 500;
  border-left: 4px solid var(--primary-color);
  padding-left: 5px;
  line-height: 1.2;
}
.content-details h4 {
  font-size: 20px;
  margin: 10px 0;
  color: var(--dark-text);
  font-weight: 500;
  border-left: 4px solid var(--primary-color);
  padding-left: 5px;
  line-height: 1.2;
}
.content-details figcaption {
  font-style: italic;
  color: var(--dark-text);
  margin: 0;
  border-left: 3px solid var(--text-color);
  padding-left: 5px;
}

/* ===========================================
  Post Area style End
============================================*/

/* ===========================================
  Comments Area style Start
============================================*/
.comments-box {
  background-image: linear-gradient(180deg, #ffb3d641, #d3e5ff4b);
  border-radius: 10px;
  padding: 10px 20px;
}

.comments-box h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--text-color);
}
.comments-box #reply-title {
  font-style: italic;
  font: size 14px;
  margin: 5px 0;
}
.comments-box form p {
  margin-bottom: 10px;
}
.comments-box form label {
  color: var(--text-color);
  font-weight: 500;
}

.comments-box form textarea {
  width: 100%;
  border: 1px solid #3641536c;
  border-radius: 5px;
  height: 100px;
  padding: 5px 10px;
}
.comments-box form input {
  width: 100%;
  border: 1px solid #3641536c;
  border-radius: 3px;
  padding: 5px 10px;
}
.comments-box .comment-form-cookies-consent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 15px;
}
.comments-box .comment-form-cookies-consent input {
  flex-basis: 0%;
  margin-top: 3px;
}
.comments-box .comment-form-cookies-consent label {
  flex-basis: 100%;
  margin-left: 10px;
  line-height: 1.2;
}
.comments-box .form-submit {
  text-align: center;
}
.comments-box .form-submit input[type="submit"] {
  width: 200px;
  background-color: var(--text-color);
  border: none;
  color: var(--bg-color);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px 0;
}
.comments-box .form-submit input:hover {
  background-color: var(--primary-color);
}
.comment-meta img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.comment-meta time {
  font-size: 14px;
  font-style: italic;
  color: var(--text-color);
}
.comment-content p {
  color: var(--text-color);
  padding: 3px 10px;
}
.comment-author b {
  color: var(--primary-color);
}
.comments-item {
  background-image: linear-gradient(-120deg, #ffb3d641, #d3e5ff4b);
}
.comments-item .reply {
  font-style: italic;
  font-size: 14px;
  color: var(--text-color);
}
.comments-item .children {
  background-image: linear-gradient(90deg, #ffb3d641, #d3e5ff4b);
  margin-left: 30px;
  padding: 10px 15px;
  border-radius: 5px;
}
.comments-item .children .children {
  background-image: linear-gradient(90deg, #d3e5ff4b, #ffb3d641);
  margin-left: 30px;
  padding: 10px 15px;
  border-radius: 5px;
}

/* =========================================
Archive, Tag, Category page Style
==========================================*/
.archive-title span {
  color: var(--primary-color);
}
.page-title span {
  font-size: 14px;
}

/* =========================================
Page area style 
==========================================*/
.page-content-box p {
  margin: 15px 0;
  color: var(--dark-text);
  text-align: justify;
}

/* ======================================
Footer area style
=======================================*/
.footer-one img {
  width: 180px;
}
.footer-one p {
  color: var(--bg-color);
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
.footer-two h2,
.footer-three h2 {
  color: var(--bg-color);
  border-left: 3px solid var(--primary-color);
  padding-left: 6px;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer-two {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
}
.footer-two ul li a {
  color: var(--bg-color);
  font-family: "Outfit", sans-serif;
  font-size: 14px;
  font-weight: 300;
}
.footer-two ul li a:hover {
  color: var(--primary-color);
}
.footer-three p {
  color: var(--bg-color);
  font-size: 14px;
  font-weight: 300;
  margin-top: 5px;
}
.footer-three .wp-block-social-links {
  margin-top: 15px;
}
.footer-three .wp-block-social-links li {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-three .wp-block-social-links li a {
  width: 100%;
  height: 100%;
}
#copyright {
  border-top: 1px solid var(--bg-color);
}
/* Media Query  */
@media screen and (min-width: 768px) {
  .footer-two {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
